
@font-face {
                          font-family: "ProximaNova-Semibold";
                          src: url('../fonts/.173.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "ProximaNova-Regular";
                          src: url('../fonts/.175.otf') format("opentype");
                        }
                        
.a23aapplicationstep2 {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 1733px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.a23aapplicationstep2 .backgroundcolor {
  background-color    : rgba(255,255,255,0.0);
  top                 : -2px;
  height              : 1735px;
  width               : 1441px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23aapplicationstep2 .backgroundcolor .rectangle32 {
  background-color    : rgba(248, 248, 248, 1.0);
  top                 : 0px;
  height              : 1735px;
  width               : 1441px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23aapplicationstep2 .rectangle3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 176px;
  height              : 718px;
  width               : 762px;
  position            : absolute;
  margin              : 0;
  left                : 340px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23aapplicationstep2 .to {
  background-color    : rgba(255,255,255,0.0);
  top                 : 526px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 540px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a23aapplicationstep2 .group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1624px;
  height              : 48px;
  width               : 295px;
  position            : absolute;
  margin              : 0;
  left                : 791px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23aapplicationstep2 .group2 .buttonoutline {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 48px;
  width               : 295px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23aapplicationstep2 .group2 .buttonoutline .bg {
  background-color    : rgba(111, 189, 111, 1.0);
  top                 : 0px;
  height              : 48px;
  width               : 295px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  border-radius       : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23aapplicationstep2 .group2 .a816816 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 17px;
  height              : auto;
  width               : 257px;
  position            : absolute;
  margin              : 0;
  left                : 18px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a23aapplicationstep2 .rectangle5 {
  background-color    : rgba(86, 102, 118, 1.0);
  top                 : -2px;
  height              : 70px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23aapplicationstep2 .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 252px;
  height              : 78px;
  width               : 670px;
  position            : absolute;
  margin              : 0;
  left                : 386px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23aapplicationstep2 .group .address {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.a23aapplicationstep2 .group .formcontrol {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 30px;
  height              : 48px;
  box-sizing          : border-box;
  width               : 670px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 3px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(187, 187, 187, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23aapplicationstep2 .group1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 768px;
  height              : 78px;
  width               : 330px;
  position            : absolute;
  margin              : 0;
  left                : 386px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23aapplicationstep2 .group1 .ownermanageru2019sname {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.a23aapplicationstep2 .group1 .formcontrol {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 30px;
  height              : 48px;
  box-sizing          : border-box;
  width               : 330px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 3px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(187, 187, 187, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23aapplicationstep2 .group3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 768px;
  height              : 78px;
  width               : 330px;
  position            : absolute;
  margin              : 0;
  left                : 726px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23aapplicationstep2 .group3 .ownermanageru2019sphon {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.a23aapplicationstep2 .group3 .formcontrol {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 30px;
  height              : 48px;
  box-sizing          : border-box;
  width               : 330px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 3px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(187, 187, 187, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23aapplicationstep2 .group4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 428px;
  height              : 78px;
  width               : 330px;
  position            : absolute;
  margin              : 0;
  left                : 386px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23aapplicationstep2 .group4 .monthlyrent {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.a23aapplicationstep2 .group4 .formcontrol {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 30px;
  height              : 48px;
  box-sizing          : border-box;
  width               : 330px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 3px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(187, 187, 187, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23aapplicationstep2 .group5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 515px;
  height              : 78px;
  width               : 329px;
  position            : absolute;
  margin              : 0;
  left                : 386px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23aapplicationstep2 .group5 .dateofresidence {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.a23aapplicationstep2 .group5 .formcontrol {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 30px;
  height              : 48px;
  box-sizing          : border-box;
  width               : 141px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 3px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(187, 187, 187, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23aapplicationstep2 .group5 .formcontrol1 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 30px;
  height              : 48px;
  box-sizing          : border-box;
  width               : 147px;
  position            : absolute;
  margin              : 0;
  left                : 182px;
  border-radius       : 3px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(187, 187, 187, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23aapplicationstep2 .group21 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 603px;
  height              : 155px;
  width               : 670px;
  position            : absolute;
  margin              : 0;
  left                : 386px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23aapplicationstep2 .group21 .formcontrol {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 30px;
  height              : 125px;
  box-sizing          : border-box;
  width               : 670px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 3px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(187, 187, 187, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23aapplicationstep2 .group21 .reasonformoving {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.a23aapplicationstep2 .line7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1760px;
  height              : 3px;
  width               : 30px;
  position            : absolute;
  margin              : 0;
  left                : 385px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23aapplicationstep2 .back {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1749px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 385px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.a23aapplicationstep2 .currentresidence {
  background-color    : rgba(255,255,255,0.0);
  top                 : 221px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 386px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Semibold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.a23aapplicationstep2 .group6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 340px;
  height              : 78px;
  width               : 333px;
  position            : absolute;
  margin              : 0;
  left                : 387px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23aapplicationstep2 .group6 .city {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.a23aapplicationstep2 .group6 .formcontrol {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 30px;
  height              : 48px;
  box-sizing          : border-box;
  width               : 333px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 3px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(187, 187, 187, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23aapplicationstep2 .group7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 340px;
  height              : 78px;
  width               : 82px;
  position            : absolute;
  margin              : 0;
  left                : 729px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23aapplicationstep2 .group7 .group31 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 30px;
  height              : 48px;
  width               : 82px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23aapplicationstep2 .group7 .group31 .formcontrol {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 48px;
  box-sizing          : border-box;
  width               : 82px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 3px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(187, 187, 187, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23aapplicationstep2 .group7 .group31 .state1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 13px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 10px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(187, 187, 187, 1.0);
  text-align          : left;
  line-height         : 10.0px;
}
.a23aapplicationstep2 .group7 .group31 .triangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 17px;
  height              : 16px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 66px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23aapplicationstep2 .group7 .group31 .triangle .triangle24 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 6px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23aapplicationstep2 .group7 .group31 .triangle .triangle24copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : 6px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23aapplicationstep2 .group7 .state-view {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 9px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.a23aapplicationstep2 .group8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 340px;
  height              : 78px;
  width               : 236px;
  position            : absolute;
  margin              : 0;
  left                : 821px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23aapplicationstep2 .group8 .zip {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.a23aapplicationstep2 .group8 .formcontrol {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 30px;
  height              : 48px;
  box-sizing          : border-box;
  width               : 236px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 3px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(187, 187, 187, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23aapplicationstep2 .group51 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 179px;
  height              : 14px;
  width               : 730px;
  position            : absolute;
  margin              : 0;
  left                : 356px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23aapplicationstep2 .group51 .rectangle6 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 12px;
  width               : 730px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23aapplicationstep2 .group51 .group41 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 12px;
  width               : 165px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23aapplicationstep2 .group51 .group41 .rectangle61 {
  background-color    : rgba(111, 189, 111, 1.0);
  top                 : 0px;
  height              : 12px;
  width               : 165px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23aapplicationstep2 .group51 .line4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 11px;
  height              : 3px;
  width               : 730px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23aapplicationstep2 .path {
  background-color    : rgba(255,255,255,0.0);
  top                 : 190px;
  height              : 3px;
  width               : 633px;
  position            : absolute;
  margin              : 0;
  left                : 356px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23aapplicationstep2 .villasienaapartmen {
  background-color    : rgba(255,255,255,0.0);
  top                 : 98px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 356px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Semibold", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 29.0px;
}
.a23aapplicationstep2 .a100mainstreetirv {
  background-color    : rgba(255,255,255,0.0);
  top                 : 136px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 356px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 13.0px;
}
.a23aapplicationstep2 .group71 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 24px;
  height              : 22px;
  width               : 134px;
  position            : absolute;
  margin              : 0;
  left                : 30px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23aapplicationstep2 .group71 .group31 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 22px;
  width               : 64px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23aapplicationstep2 .group71 .group31 .group32 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 22px;
  width               : 64px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23aapplicationstep2 .group71 .group61 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 21px;
  width               : 69px;
  position            : absolute;
  margin              : 0;
  left                : 65px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23aapplicationstep2 .group71 .group61 .group62 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 21px;
  width               : 69px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23aapplicationstep2 .group22 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1624px;
  height              : 48px;
  width               : 92px;
  position            : absolute;
  margin              : 0;
  left                : 356px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23aapplicationstep2 .group22 .buttonoutline {
  background-color    : rgba(255,255,255,0.0);
  top                 : -1px;
  height              : 49px;
  width               : 92px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23aapplicationstep2 .group22 .buttonoutline .bg {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 49px;
  box-sizing          : border-box;
  width               : 92px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  border-radius       : 3px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(187, 187, 187, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23aapplicationstep2 .group22 .a816816 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 14px;
  height              : auto;
  width               : 35px;
  position            : absolute;
  margin              : 0;
  left                : 29px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 14.0px;
}
.a23aapplicationstep2 .rectangle31 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 892px;
  height              : 718px;
  width               : 762px;
  position            : absolute;
  margin              : 0;
  left                : 340px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23aapplicationstep2 .to1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1242px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 540px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a23aapplicationstep2 .group9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 968px;
  height              : 78px;
  width               : 670px;
  position            : absolute;
  margin              : 0;
  left                : 386px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23aapplicationstep2 .group9 .address {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.a23aapplicationstep2 .group9 .formcontrol {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 30px;
  height              : 48px;
  box-sizing          : border-box;
  width               : 670px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 3px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(187, 187, 187, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23aapplicationstep2 .group10 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1484px;
  height              : 78px;
  width               : 330px;
  position            : absolute;
  margin              : 0;
  left                : 386px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23aapplicationstep2 .group10 .ownermanageru2019sname {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.a23aapplicationstep2 .group10 .formcontrol {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 30px;
  height              : 48px;
  box-sizing          : border-box;
  width               : 330px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 3px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(187, 187, 187, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23aapplicationstep2 .group11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1484px;
  height              : 78px;
  width               : 330px;
  position            : absolute;
  margin              : 0;
  left                : 726px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23aapplicationstep2 .group11 .ownermanageru2019sphon {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.a23aapplicationstep2 .group11 .formcontrol {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 30px;
  height              : 48px;
  box-sizing          : border-box;
  width               : 330px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 3px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(187, 187, 187, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23aapplicationstep2 .group12 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1144px;
  height              : 78px;
  width               : 330px;
  position            : absolute;
  margin              : 0;
  left                : 386px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23aapplicationstep2 .group12 .monthlyrent {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.a23aapplicationstep2 .group12 .formcontrol {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 30px;
  height              : 48px;
  box-sizing          : border-box;
  width               : 330px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 3px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(187, 187, 187, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23aapplicationstep2 .group13 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1231px;
  height              : 78px;
  width               : 329px;
  position            : absolute;
  margin              : 0;
  left                : 386px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23aapplicationstep2 .group13 .dateofresidence {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.a23aapplicationstep2 .group13 .formcontrol {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 30px;
  height              : 48px;
  box-sizing          : border-box;
  width               : 141px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 3px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(187, 187, 187, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23aapplicationstep2 .group13 .formcontrol1 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 30px;
  height              : 48px;
  box-sizing          : border-box;
  width               : 147px;
  position            : absolute;
  margin              : 0;
  left                : 182px;
  border-radius       : 3px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(187, 187, 187, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23aapplicationstep2 .group23 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1319px;
  height              : 155px;
  width               : 670px;
  position            : absolute;
  margin              : 0;
  left                : 386px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23aapplicationstep2 .group23 .formcontrol {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 30px;
  height              : 125px;
  box-sizing          : border-box;
  width               : 670px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 3px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(187, 187, 187, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23aapplicationstep2 .group23 .reasonformoving {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.a23aapplicationstep2 .previousresidence {
  background-color    : rgba(255,255,255,0.0);
  top                 : 937px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 386px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Semibold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.a23aapplicationstep2 .group14 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1056px;
  height              : 78px;
  width               : 333px;
  position            : absolute;
  margin              : 0;
  left                : 387px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23aapplicationstep2 .group14 .city {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.a23aapplicationstep2 .group14 .formcontrol {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 30px;
  height              : 48px;
  box-sizing          : border-box;
  width               : 333px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 3px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(187, 187, 187, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23aapplicationstep2 .group15 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1056px;
  height              : 78px;
  width               : 82px;
  position            : absolute;
  margin              : 0;
  left                : 729px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23aapplicationstep2 .group15 .group31 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 30px;
  height              : 48px;
  width               : 82px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23aapplicationstep2 .group15 .group31 .formcontrol {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 48px;
  box-sizing          : border-box;
  width               : 82px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 3px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(187, 187, 187, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23aapplicationstep2 .group15 .group31 .state1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 13px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 10px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(187, 187, 187, 1.0);
  text-align          : left;
  line-height         : 10.0px;
}
.a23aapplicationstep2 .group15 .group31 .triangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 17px;
  height              : 16px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 66px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23aapplicationstep2 .group15 .group31 .triangle .triangle24 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 6px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23aapplicationstep2 .group15 .group31 .triangle .triangle24copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : 6px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23aapplicationstep2 .group15 .state-view {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 9px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.a23aapplicationstep2 .group16 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1056px;
  height              : 78px;
  width               : 236px;
  position            : absolute;
  margin              : 0;
  left                : 821px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23aapplicationstep2 .group16 .zip {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.a23aapplicationstep2 .group16 .formcontrol {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 30px;
  height              : 48px;
  box-sizing          : border-box;
  width               : 236px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 3px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(187, 187, 187, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}