
@font-face {
                          font-family: "ProximaNova-Semibold";
                          src: url('../fonts/.173.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "ProximaNova-Regular";
                          src: url('../fonts/.175.otf') format("opentype");
                        }
                        
.a23fapplicationstep7 {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 1001px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.a23fapplicationstep7 .backgroundcolor {
  background-color    : rgba(255,255,255,0.0);
  top                 : -2px;
  height              : 1735px;
  width               : 1441px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23fapplicationstep7 .backgroundcolor .rectangle31 {
  background-color    : rgba(248, 248, 248, 1.0);
  top                 : 0px;
  height              : 1735px;
  width               : 1441px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23fapplicationstep7 .rectangle3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 176px;
  height              : 465px;
  width               : 762px;
  position            : absolute;
  margin              : 0;
  left                : 339px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23fapplicationstep7 .formcontrol {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 267px;
  height              : 57px;
  box-sizing          : border-box;
  width               : 670px;
  position            : absolute;
  margin              : 0;
  left                : 386px;
  border-radius       : 4px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(187, 187, 187, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23fapplicationstep7 .paymentmethod {
  background-color    : rgba(255,255,255,0.0);
  top                 : 221px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 387px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Semibold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.a23fapplicationstep7 .rectangle5 {
  background-color    : rgba(86, 102, 118, 1.0);
  top                 : -2px;
  height              : 70px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23fapplicationstep7 .applicationfee4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 288px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 407px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Semibold", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a23fapplicationstep7 .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 344px;
  height              : 78px;
  width               : 330px;
  position            : absolute;
  margin              : 0;
  left                : 387px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23fapplicationstep7 .group .nameoncard {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.a23fapplicationstep7 .group .formcontrol1 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 30px;
  height              : 48px;
  box-sizing          : border-box;
  width               : 330px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 4px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(187, 187, 187, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23fapplicationstep7 .group1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 432px;
  height              : 78px;
  width               : 670px;
  position            : absolute;
  margin              : 0;
  left                : 387px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23fapplicationstep7 .group1 .cardnumber {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.a23fapplicationstep7 .group1 .formcontrol1 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 30px;
  height              : 48px;
  box-sizing          : border-box;
  width               : 670px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 4px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(187, 187, 187, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23fapplicationstep7 .group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 520px;
  height              : 78px;
  width               : 160px;
  position            : absolute;
  margin              : 0;
  left                : 559px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23fapplicationstep7 .group2 .cvccode {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.a23fapplicationstep7 .group2 .formcontrol1 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 30px;
  height              : 48px;
  box-sizing          : border-box;
  width               : 160px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 4px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(187, 187, 187, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23fapplicationstep7 .group3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 550px;
  height              : 48px;
  width               : 82px;
  position            : absolute;
  margin              : 0;
  left                : 387px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23fapplicationstep7 .group3 .formcontrol1 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 48px;
  box-sizing          : border-box;
  width               : 82px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 4px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(187, 187, 187, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23fapplicationstep7 .group3 .month {
  background-color    : rgba(255,255,255,0.0);
  top                 : 13px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(187, 187, 187, 1.0);
  text-align          : left;
  line-height         : 10.0px;
}
.a23fapplicationstep7 .group3 .triangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : 16px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 64px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23fapplicationstep7 .group3 .triangle .triangle24 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 6px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23fapplicationstep7 .group3 .triangle .triangle24copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : 6px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23fapplicationstep7 .group31 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 550px;
  height              : 48px;
  width               : 70px;
  position            : absolute;
  margin              : 0;
  left                : 479px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23fapplicationstep7 .group31 .formcontrol1 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 48px;
  box-sizing          : border-box;
  width               : 70px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 4px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(187, 187, 187, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23fapplicationstep7 .group31 .year {
  background-color    : rgba(255,255,255,0.0);
  top                 : 13px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(187, 187, 187, 1.0);
  text-align          : left;
  line-height         : 10.0px;
}
.a23fapplicationstep7 .group31 .triangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : 16px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 52px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23fapplicationstep7 .group31 .triangle .triangle24 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 6px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23fapplicationstep7 .group31 .triangle .triangle24copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : 6px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23fapplicationstep7 .expiration {
  background-color    : rgba(255,255,255,0.0);
  top                 : 520px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 387px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.a23fapplicationstep7 .cards {
  background-color    : rgba(255,255,255,0.0);
  top                 : 285px;
  height              : 22px;
  width               : 106px;
  position            : absolute;
  margin              : 0;
  left                : 930px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23fapplicationstep7 .cards .creditcardsmastercard {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 22px;
  width               : 30px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23fapplicationstep7 .cards .creditcardsmastercard .layer1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 22px;
  width               : 30px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23fapplicationstep7 .cards .creditcardsmastercard .layer1 .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 30px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23fapplicationstep7 .cards .creditcardsmastercard .layer1 .shape1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6px;
  height              : 9px;
  width               : 9px;
  position            : absolute;
  margin              : 0;
  left                : 14px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23fapplicationstep7 .cards .creditcardsmastercard .layer1 .rectanglepath {
  background-color    : rgba(255, 175, 56, 1.0);
  top                 : 8px;
  height              : 1px;
  width               : 3px;
  position            : absolute;
  margin              : 0;
  left                : 15px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23fapplicationstep7 .cards .creditcardsmastercard .layer1 .shape2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6px;
  height              : 9px;
  width               : 9px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23fapplicationstep7 .cards .creditcardsmastercard .layer1 .shape3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 8px;
  height              : 4px;
  width               : 4px;
  position            : absolute;
  margin              : 0;
  left                : 14px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23fapplicationstep7 .cards .creditcardsmastercard .layer1 .shape4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 21px;
  width               : 30px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.05;
}
.a23fapplicationstep7 .cards .creditcardsvisa {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 30px;
  position            : absolute;
  margin              : 0;
  left                : 38px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23fapplicationstep7 .cards .creditcardsvisa .layer1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 30px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23fapplicationstep7 .cards .creditcardsvisa .layer1 .group5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 30px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23fapplicationstep7 .cards .creditcardsvisa .layer1 .group5 .rectanglepath {
  background-color    : rgba(249, 249, 249, 1.0);
  top                 : 5px;
  height              : 9px;
  width               : 30px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23fapplicationstep7 .cards .creditcardsvisa .layer1 .group5 .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 5px;
  width               : 30px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23fapplicationstep7 .cards .creditcardsvisa .layer1 .group5 .shape1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 15px;
  height              : 5px;
  width               : 30px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23fapplicationstep7 .cards .creditcardsvisa .layer1 .group5 .shape2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 30px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.05;
}
.a23fapplicationstep7 .cards .creditcardsvisa .layer1 .group5 .group6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7px;
  height              : 5px;
  width               : 19px;
  position            : absolute;
  margin              : 0;
  left                : 5px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23fapplicationstep7 .cards .creditcardsvisa .layer1 .group5 .group6 .shape5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 5px;
  width               : 2px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23fapplicationstep7 .cards .creditcardsvisa .layer1 .group5 .group6 .shape11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 5px;
  width               : 4px;
  position            : absolute;
  margin              : 0;
  left                : 9px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23fapplicationstep7 .cards .creditcardsvisa .layer1 .group5 .group6 .shape21 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 5px;
  width               : 5px;
  position            : absolute;
  margin              : 0;
  left                : 13px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23fapplicationstep7 .cards .creditcardsvisa .layer1 .group5 .group6 .shape3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 5px;
  width               : 5px;
  position            : absolute;
  margin              : 0;
  left                : 2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23fapplicationstep7 .cards .creditcardsvisa .layer1 .group5 .group6 .shape4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 3px;
  width               : 4px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23fapplicationstep7 .cards .creditcardsamex {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 30px;
  position            : absolute;
  margin              : 0;
  left                : 76px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23fapplicationstep7 .cards .creditcardsamex .layer1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 30px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23fapplicationstep7 .cards .creditcardsamex .layer1 .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 30px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23fapplicationstep7 .cards .creditcardsamex .layer1 .shape1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 8px;
  height              : 5px;
  width               : 17px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23fapplicationstep7 .cards .creditcardsamex .layer1 .shape2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 8px;
  height              : 5px;
  width               : 5px;
  position            : absolute;
  margin              : 0;
  left                : 21px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23fapplicationstep7 .cards .creditcardsamex .layer1 .shape3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 9px;
  height              : 2px;
  width               : 2px;
  position            : absolute;
  margin              : 0;
  left                : 6px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23fapplicationstep7 .cards .creditcardsamex .layer1 .shape4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 9px;
  height              : 3px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 21px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23fapplicationstep7 .cards .creditcardsamex .layer1 .shape5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7px;
  height              : 6px;
  width               : 23px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23fapplicationstep7 .cards .creditcardsamex .layer1 .shape6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 30px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.05;
}
.a23fapplicationstep7 .rectangle6 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 179px;
  height              : 12px;
  width               : 730px;
  position            : absolute;
  margin              : 0;
  left                : 355px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23fapplicationstep7 .group4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 179px;
  height              : 12px;
  width               : 561px;
  position            : absolute;
  margin              : 0;
  left                : 355px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23fapplicationstep7 .group4 .rectangle61 {
  background-color    : rgba(111, 189, 111, 1.0);
  top                 : 0px;
  height              : 12px;
  width               : 561px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23fapplicationstep7 .line4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 190px;
  height              : 3px;
  width               : 729px;
  position            : absolute;
  margin              : 0;
  left                : 355px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23fapplicationstep7 .group21 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 654px;
  height              : 48px;
  width               : 262px;
  position            : absolute;
  margin              : 0;
  left                : 823px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23fapplicationstep7 .group21 .buttonoutline {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 48px;
  width               : 262px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23fapplicationstep7 .group21 .buttonoutline .bg {
  background-color    : rgba(111, 189, 111, 1.0);
  top                 : 0px;
  height              : 48px;
  width               : 262px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  border-radius       : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23fapplicationstep7 .group21 .a816816 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 15px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a23fapplicationstep7 .group22 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 654px;
  height              : 48px;
  width               : 92px;
  position            : absolute;
  margin              : 0;
  left                : 355px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23fapplicationstep7 .group22 .buttonoutline {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 48px;
  width               : 92px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23fapplicationstep7 .group22 .buttonoutline .bg {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 48px;
  box-sizing          : border-box;
  width               : 92px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  border-radius       : 3px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(187, 187, 187, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23fapplicationstep7 .group22 .a816816 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 14px;
  height              : auto;
  width               : 35px;
  position            : absolute;
  margin              : 0;
  left                : 29px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 14.0px;
}
.a23fapplicationstep7 .villasienaapartmen {
  background-color    : rgba(255,255,255,0.0);
  top                 : 98px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 355px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Semibold", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 29.0px;
}
.a23fapplicationstep7 .a100mainstreetirv {
  background-color    : rgba(255,255,255,0.0);
  top                 : 136px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 355px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 13.0px;
}
.a23fapplicationstep7 .group7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 24px;
  height              : 22px;
  width               : 134px;
  position            : absolute;
  margin              : 0;
  left                : 30px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23fapplicationstep7 .group7 .group32 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 22px;
  width               : 64px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23fapplicationstep7 .group7 .group32 .group33 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 22px;
  width               : 64px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23fapplicationstep7 .group7 .group6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 21px;
  width               : 69px;
  position            : absolute;
  margin              : 0;
  left                : 65px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23fapplicationstep7 .group7 .group6 .group61 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 21px;
  width               : 69px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23fapplicationstep7 .creditcard1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 481px;
  height              : 20px;
  width               : 30px;
  position            : absolute;
  margin              : 0;
  left                : 1017px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23fapplicationstep7 .creditcard1 .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 30px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23fapplicationstep7 .creditcard1 .shape1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 5px;
  width               : 30px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23fapplicationstep7 .creditcard1 .path {
  background-color    : rgba(255,255,255,0.0);
  top                 : 12px;
  height              : 1px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23fapplicationstep7 .creditcard1 .path1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 15px;
  height              : 1px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23fapplicationstep7 .creditcard1 .shape2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 11px;
  height              : 5px;
  width               : 5px;
  position            : absolute;
  margin              : 0;
  left                : 21px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}