
@font-face {
                          font-family: "ProximaNova-Semibold";
                          src: url('../fonts/.173.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "ProximaNova-Regular";
                          src: url('../fonts/.175.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "ProximaNova-Medium";
                          src: url('../fonts/.25136.otf') format("opentype");
                        }
                        
.a19recurringpayments {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 1401px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.a19recurringpayments .backgroundcolor {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 1733px;
  width               : 1441px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a19recurringpayments .backgroundcolor .rectangle32 {
  background-color    : rgba(248, 248, 248, 1.0);
  top                 : 0px;
  height              : 1733px;
  width               : 1441px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a19recurringpayments .tenantdashboard {
  background-color    : rgba(255,255,255,0.0);
  top                 : 153px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 163px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Semibold", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 26.0px;
}
.a19recurringpayments .rectangle3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 196px;
  height              : 1057px;
  width               : 762px;
  position            : absolute;
  margin              : 0;
  left                : 148px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a19recurringpayments .recurringpayments {
  background-color    : rgba(255,255,255,0.0);
  top                 : 235px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 192px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Semibold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.a19recurringpayments .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 428px;
  height              : 93px;
  width               : 305px;
  position            : absolute;
  margin              : 0;
  left                : 214px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a19recurringpayments .group .selectpaymentaccou {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.a19recurringpayments .group .formcontrol {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 30px;
  height              : 48px;
  box-sizing          : border-box;
  width               : 305px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 3px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(187, 187, 187, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a19recurringpayments .group .chasechecking {
  background-color    : rgba(255,255,255,0.0);
  top                 : 43px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 14px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.a19recurringpayments .group .accountnumberxxxx {
  background-color    : rgba(255,255,255,0.0);
  top                 : 83px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 162px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 10.0px;
  color               : rgba(187, 187, 187, 1.0);
  text-align          : left;
  line-height         : 10.0px;
}
.a19recurringpayments .triangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 472px;
  height              : 16px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 497px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a19recurringpayments .triangle .triangle24 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 6px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a19recurringpayments .triangle .triangle24copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : 6px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a19recurringpayments .line7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 546px;
  height              : 1px;
  width               : 206px;
  position            : absolute;
  margin              : 0;
  left                : 214px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a19recurringpayments .addnewpaymentac {
  background-color    : rgba(255,255,255,0.0);
  top                 : 528px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 214px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(101, 129, 171, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.a19recurringpayments .group1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 824px;
  height              : 72px;
  width               : 305px;
  position            : absolute;
  margin              : 0;
  left                : 212px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a19recurringpayments .group1 .selectfrequencyof {
  background-color    : rgba(255,255,255,0.0);
  top                 : -3px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.a19recurringpayments .group1 .formcontrol {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 25px;
  height              : 48px;
  box-sizing          : border-box;
  width               : 305px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 3px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(187, 187, 187, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a19recurringpayments .group1 .monthly {
  background-color    : rgba(255,255,255,0.0);
  top                 : 38px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 14px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.a19recurringpayments .triangle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 865px;
  height              : 16px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 497px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a19recurringpayments .triangle1 .triangle24 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 6px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a19recurringpayments .triangle1 .triangle24copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : 6px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a19recurringpayments .a01122018 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 953px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 226px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.a19recurringpayments .oval3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 663px;
  height              : 8px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 219px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a19recurringpayments .totalamountnotex {
  background-color    : rgba(255,255,255,0.0);
  top                 : 655px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 237px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.a19recurringpayments .oval {
  background-color    : rgba(255,255,255,0.0);
  top                 : 658px;
  height              : 18px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 214px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a19recurringpayments .fixedamount {
  background-color    : rgba(255,255,255,0.0);
  top                 : 697px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 237px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.a19recurringpayments .dateoffirstpaymen {
  background-color    : rgba(255,255,255,0.0);
  top                 : 911px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 213px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.a19recurringpayments .oval1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 700px;
  height              : 18px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 214px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a19recurringpayments .line6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 761px;
  height              : 1px;
  width               : 672px;
  position            : absolute;
  margin              : 0;
  left                : 192px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a19recurringpayments .rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 366px;
  height              : 804px;
  box-sizing          : border-box;
  width               : 672px;
  position            : absolute;
  margin              : 0;
  left                : 192px;
  border-radius       : 4px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(187, 187, 187, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a19recurringpayments .recurringamount {
  background-color    : rgba(255,255,255,0.0);
  top                 : 630px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 212px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.a19recurringpayments .a3selectfrequency {
  background-color    : rgba(255,255,255,0.0);
  top                 : 789px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 212px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Semibold", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.a19recurringpayments .a2selectrecurring {
  background-color    : rgba(255,255,255,0.0);
  top                 : 598px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 212px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Semibold", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.a19recurringpayments .a1selectpayment {
  background-color    : rgba(255,255,255,0.0);
  top                 : 398px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 212px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Semibold", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.a19recurringpayments .group3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 683px;
  height              : 48px;
  width               : 184px;
  position            : absolute;
  margin              : 0;
  left                : 345px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a19recurringpayments .group3 .formcontrol {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 48px;
  box-sizing          : border-box;
  width               : 184px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  border-radius       : 3px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(187, 187, 187, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a19recurringpayments .group6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 939px;
  height              : 48px;
  width               : 305px;
  position            : absolute;
  margin              : 0;
  left                : 212px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a19recurringpayments .group6 .formcontrol {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 48px;
  box-sizing          : border-box;
  width               : 305px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  border-radius       : 3px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(187, 187, 187, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a19recurringpayments .rectangle31 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 192px;
  height              : 137px;
  width               : 382px;
  position            : absolute;
  margin              : 0;
  left                : 908px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a19recurringpayments .contactusatinfol {
  background-color    : rgba(255,255,255,0.0);
  top                 : 264px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 954px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 17.0px;
}
.a19recurringpayments .needhelp {
  background-color    : rgba(255,255,255,0.0);
  top                 : 237px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 954px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Semibold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.a19recurringpayments .line61 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 576px;
  height              : 2px;
  width               : 670px;
  position            : absolute;
  margin              : 0;
  left                : 192px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a19recurringpayments .group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 265px;
  height              : 78px;
  width               : 296px;
  position            : absolute;
  margin              : 0;
  left                : 191px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a19recurringpayments .group2 .selettheresidence {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.a19recurringpayments .group2 .formcontrol {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 30px;
  height              : 38px;
  box-sizing          : border-box;
  width               : 296px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 4px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(187, 187, 187, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a19recurringpayments .group2 .group41 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 30px;
  height              : 48px;
  width               : 296px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a19recurringpayments .group2 .group41 .formcontrol1 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 48px;
  box-sizing          : border-box;
  width               : 296px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 3px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(187, 187, 187, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a19recurringpayments .group2 .group41 .triangle24 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : 6px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 278px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a19recurringpayments .group2 .group41 .triangle24copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 26px;
  height              : 6px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 278px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a19recurringpayments .group2 .villasienaapt402 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 43px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 14px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.a19recurringpayments .rectangle1 {
  background-color    : rgba(206, 30, 30, 1.0);
  top                 : 1207px;
  height              : 1px;
  width               : 207px;
  position            : absolute;
  margin              : 0;
  left                : 657px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a19recurringpayments .group4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1001px;
  height              : 72px;
  width               : 305px;
  position            : absolute;
  margin              : 0;
  left                : 212px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a19recurringpayments .group4 .numberofoccurrence {
  background-color    : rgba(255,255,255,0.0);
  top                 : -3px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.a19recurringpayments .group4 .formcontrol {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 25px;
  height              : 48px;
  box-sizing          : border-box;
  width               : 305px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 3px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(187, 187, 187, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a19recurringpayments .group4 .untilicancel {
  background-color    : rgba(255,255,255,0.0);
  top                 : 38px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 14px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.a19recurringpayments .triangle2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1036px;
  height              : 16px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 497px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a19recurringpayments .triangle2 .triangle24 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 6px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a19recurringpayments .triangle2 .triangle24copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : 6px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a19recurringpayments .rectangle2 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 1130px;
  height              : 18px;
  box-sizing          : border-box;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 214px;
  border-radius       : 3px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(187, 187, 187, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a19recurringpayments .line62 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1105px;
  height              : 1px;
  width               : 670px;
  position            : absolute;
  margin              : 0;
  left                : 193px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a19recurringpayments .group21 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1266px;
  height              : 48px;
  width               : 247px;
  position            : absolute;
  margin              : 0;
  left                : 647px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a19recurringpayments .group21 .buttonoutline {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 48px;
  width               : 247px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a19recurringpayments .group21 .buttonoutline .bg {
  background-color    : rgba(111, 189, 111, 1.0);
  top                 : 0px;
  height              : 48px;
  width               : 247px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  border-radius       : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a19recurringpayments .group21 .a816816 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 14px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 31px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 14.0px;
}
.a19recurringpayments .accepttermsandcon {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1127px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 237px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.a19recurringpayments .accepttermsandcon .span1 {
  text-align          : justify;
}
.a19recurringpayments .accepttermsandcon .span2 {
  color               : rgba(101, 129, 171, 1.0);
  text-align          : justify;
}
.a19recurringpayments .accepttermsandcon .span3 {
  text-align          : justify;
}
.a19recurringpayments .accepttermsandcon .span4 {
  color               : rgba(101, 129, 171, 1.0);
  text-align          : justify;
}
.a19recurringpayments .line8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1143px;
  height              : 3px;
  width               : 39px;
  position            : absolute;
  margin              : 0;
  left                : 292px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a19recurringpayments .line81 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1144px;
  height              : 1px;
  width               : 78px;
  position            : absolute;
  margin              : 0;
  left                : 368px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a19recurringpayments .turnoffrecurringp {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1186px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 657px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Semibold", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(208, 1, 27, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.a19recurringpayments .calendar2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 951px;
  height              : 16px;
  width               : 17px;
  position            : absolute;
  margin              : 0;
  left                : 488px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a19recurringpayments .calendar2 .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 16px;
  width               : 17px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a19recurringpayments .calendar2 .path {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7px;
  height              : 2px;
  width               : 9px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a19recurringpayments .calendar2 .path1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : 2px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a19recurringpayments .group31 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 120px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a19recurringpayments .group31 .rectangle4 {
  background-color    : rgba(86, 102, 118, 1.0);
  top                 : 60px;
  height              : 60px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a19recurringpayments .group31 .rectangle11 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 60px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a19recurringpayments .group31 .bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 60px;
  width               : 188px;
  position            : absolute;
  margin              : 0;
  left                : 1245px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a19recurringpayments .group31 .home {
  background-color    : rgba(255,255,255,0.0);
  top                 : 79px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 187px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Medium", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.a19recurringpayments .group31 .payrent {
  background-color    : rgba(255,255,255,0.0);
  top                 : 79px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 286px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Medium", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.a19recurringpayments .group31 .maintenancerequest {
  background-color    : rgba(255,255,255,0.0);
  top                 : 79px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 407px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Medium", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.a19recurringpayments .group31 .mylease {
  background-color    : rgba(255,255,255,0.0);
  top                 : 79px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 617px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Medium", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.a19recurringpayments .group31 .payments {
  background-color    : rgba(255,255,255,0.0);
  top                 : 79px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 754px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Medium", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.a19recurringpayments .group31 .home1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 81px;
  height              : 15px;
  width               : 17px;
  position            : absolute;
  margin              : 0;
  left                : 165px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a19recurringpayments .group31 .home1 .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 7px;
  width               : 17px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a19recurringpayments .group31 .home1 .shape1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7px;
  height              : 8px;
  width               : 13px;
  position            : absolute;
  margin              : 0;
  left                : 2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a19recurringpayments .group31 .wallet1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 81px;
  height              : 15px;
  width               : 13px;
  position            : absolute;
  margin              : 0;
  left                : 735px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a19recurringpayments .group31 .wallet1 .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 15px;
  width               : 13px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a19recurringpayments .group31 .wallet1 .shape1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3px;
  height              : 2px;
  width               : 2px;
  position            : absolute;
  margin              : 0;
  left                : 10px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a19recurringpayments .group31 .landmonktextonlylogotransparentbkg215x381 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 20px;
  height              : 20px;
  width               : 113px;
  position            : absolute;
  margin              : 0;
  left                : 163px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a19recurringpayments .group31 .copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 82px;
  height              : 15px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 600px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a19recurringpayments .group31 .copy .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 13px;
  width               : 9px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a19recurringpayments .group31 .copy .shape1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 13px;
  width               : 9px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a19recurringpayments .group31 .tools {
  background-color    : rgba(255,255,255,0.0);
  top                 : 83px;
  height              : 15px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 388px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a19recurringpayments .group31 .tools .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 15px;
  width               : 15px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a19recurringpayments .group31 .coin {
  background-color    : rgba(255,255,255,0.0);
  top                 : 81px;
  height              : 15px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 266px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a19recurringpayments .group31 .coin .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 15px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a19recurringpayments .group31 .coin .path {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3px;
  height              : 10px;
  width               : 5px;
  position            : absolute;
  margin              : 0;
  left                : 5px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}