@import url('https://fonts.googleapis.com/css?family=Roboto:500');

@font-face {
                          font-family: "ProximaNova-Regular";
                          src: url('../fonts/.175.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "ProximaNova-Semibold";
                          src: url('../fonts/.173.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "ProximaNova-Medium";
                          src: url('../fonts/.25136.otf') format("opentype");
                        }
                        
.a14settings {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 843px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.a14settings .backgroundcolor {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 1733px;
  width               : 1441px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a14settings .backgroundcolor .rectangle35 {
  background-color    : rgba(248, 248, 248, 1.0);
  top                 : 0px;
  height              : 1733px;
  width               : 1441px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a14settings .settings {
  background-color    : rgba(255,255,255,0.0);
  top                 : 144px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 165px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Semibold", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 29.0px;
}
.a14settings .rectangle3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 183px;
  height              : 182px;
  width               : 382px;
  position            : absolute;
  margin              : 0;
  left                : 150px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a14settings .rectangle31 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 183px;
  height              : 182px;
  width               : 382px;
  position            : absolute;
  margin              : 0;
  left                : 530px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a14settings .rectangle32 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 183px;
  height              : 182px;
  width               : 382px;
  position            : absolute;
  margin              : 0;
  left                : 910px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a14settings .invoice {
  background-color    : rgba(255,255,255,0.0);
  top                 : 230px;
  height              : 25px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 956px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a14settings .invoice .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 25px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a14settings .invoice .shape1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 11px;
  width               : 5px;
  position            : absolute;
  margin              : 0;
  left                : 10px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a14settings .managingyourbillin {
  background-color    : rgba(255,255,255,0.0);
  top                 : 292px;
  height              : auto;
  width               : 192px;
  position            : absolute;
  margin              : 0;
  left                : 956px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 13.0px;
}
.a14settings .billing {
  background-color    : rgba(255,255,255,0.0);
  top                 : 261px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 956px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Semibold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.a14settings .viewupdateyouri {
  background-color    : rgba(255,255,255,0.0);
  top                 : 292px;
  height              : auto;
  width               : 292px;
  position            : absolute;
  margin              : 0;
  left                : 196px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 13.0px;
}
.a14settings .generalsettings {
  background-color    : rgba(255,255,255,0.0);
  top                 : 261px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 196px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Semibold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.a14settings .managenotifications {
  background-color    : rgba(255,255,255,0.0);
  top                 : 292px;
  height              : auto;
  width               : 315px;
  position            : absolute;
  margin              : 0;
  left                : 576px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 13.0px;
}
.a14settings .notification {
  background-color    : rgba(255,255,255,0.0);
  top                 : 261px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 576px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Semibold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.a14settings .rectangle33 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 363px;
  height              : 182px;
  width               : 382px;
  position            : absolute;
  margin              : 0;
  left                : 150px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a14settings .manageyouraccounts {
  background-color    : rgba(255,255,255,0.0);
  top                 : 485px;
  height              : auto;
  width               : 267px;
  position            : absolute;
  margin              : 0;
  left                : 196px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 13.0px;
}
.a14settings .accountsusers {
  background-color    : rgba(255,255,255,0.0);
  top                 : 454px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 196px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Semibold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.a14settings .rectangle34 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 363px;
  height              : 182px;
  width               : 382px;
  position            : absolute;
  margin              : 0;
  left                : 530px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a14settings .bank2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 420px;
  height              : 25px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 576px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a14settings .bank2 .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 25px;
  width               : 25px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a14settings .bankaccounts {
  background-color    : rgba(255,255,255,0.0);
  top                 : 454px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 576px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Semibold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.a14settings .setupmanagebank {
  background-color    : rgba(255,255,255,0.0);
  top                 : 485px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 576px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 13.0px;
}
.a14settings .settings1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 226px;
  height              : 25px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 196px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a14settings .settings1 .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 25px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a14settings .settings1 .shape1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 8px;
  height              : 8px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a14settings .notification1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 226px;
  height              : 25px;
  width               : 21px;
  position            : absolute;
  margin              : 0;
  left                : 579px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a14settings .notification1 .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3px;
  height              : 18px;
  width               : 21px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a14settings .notification1 .shape1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 5px;
  width               : 4px;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a14settings .notification1 .shape2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 21px;
  height              : 4px;
  width               : 5px;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a14settings .users {
  background-color    : rgba(255,255,255,0.0);
  top                 : 419px;
  height              : 25px;
  width               : 27px;
  position            : absolute;
  margin              : 0;
  left                : 196px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a14settings .users .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 25px;
  width               : 27px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a14settings .navigationmain {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 120px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a14settings .navigationmain .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 120px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a14settings .navigationmain .rectangle {
  background-color    : rgba(86, 102, 118, 1.0);
  top                 : 60px;
  height              : 60px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a14settings .navigationmain .rectangle1 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 60px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a14settings .navigationmain .home {
  background-color    : rgba(255,255,255,0.0);
  top                 : 79px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 187px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Medium", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.a14settings .navigationmain .properties {
  background-color    : rgba(255,255,255,0.0);
  top                 : 79px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 286px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Medium", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.a14settings .navigationmain .tenants {
  background-color    : rgba(255,255,255,0.0);
  top                 : 79px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 407px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Medium", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.a14settings .navigationmain .leasing {
  background-color    : rgba(255,255,255,0.0);
  top                 : 79px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 514px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Medium", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.a14settings .navigationmain .applications {
  background-color    : rgba(255,255,255,0.0);
  top                 : 79px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 627px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Medium", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.a14settings .navigationmain .payments {
  background-color    : rgba(255,255,255,0.0);
  top                 : 79px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 764px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Medium", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.a14settings .navigationmain .reports {
  background-color    : rgba(255,255,255,0.0);
  top                 : 79px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 884px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Medium", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.a14settings .navigationmain .profilesettings {
  background-color    : rgba(255,255,255,0.0);
  top                 : 19px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1279px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Medium", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.a14settings .navigationmain .notification11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 18px;
  height              : 25px;
  width               : 21px;
  position            : absolute;
  margin              : 0;
  left                : 1248px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a14settings .navigationmain .notification11 .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 18px;
  width               : 21px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a14settings .navigationmain .notification11 .path {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 5px;
  width               : 4px;
  position            : absolute;
  margin              : 0;
  left                : 9px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a14settings .navigationmain .notification11 .path1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 21px;
  height              : 4px;
  width               : 5px;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a14settings .navigationmain .oval {
  background-color    : rgba(255,255,255,0.0);
  top                 : 13px;
  height              : 18px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 1257px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a14settings .navigationmain .home1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 81px;
  height              : 15px;
  width               : 17px;
  position            : absolute;
  margin              : 0;
  left                : 165px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a14settings .navigationmain .home1 .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 7px;
  width               : 17px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a14settings .navigationmain .home1 .shape1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7px;
  height              : 8px;
  width               : 13px;
  position            : absolute;
  margin              : 0;
  left                : 2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a14settings .navigationmain .houses {
  background-color    : rgba(255,255,255,0.0);
  top                 : 81px;
  height              : 15px;
  width               : 21px;
  position            : absolute;
  margin              : 0;
  left                : 260px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a14settings .navigationmain .houses .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 15px;
  width               : 21px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a14settings .navigationmain .avatar {
  background-color    : rgba(255,255,255,0.0);
  top                 : 81px;
  height              : 15px;
  width               : 13px;
  position            : absolute;
  margin              : 0;
  left                : 389px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a14settings .navigationmain .avatar .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 8px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a14settings .navigationmain .avatar .shape1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 8px;
  height              : 7px;
  width               : 13px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a14settings .navigationmain .piechart1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 81px;
  height              : 15px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 864px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a14settings .navigationmain .piechart1 .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 13px;
  width               : 13px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a14settings .navigationmain .piechart1 .shape1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 7px;
  width               : 7px;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a14settings .navigationmain .wallet1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 81px;
  height              : 15px;
  width               : 13px;
  position            : absolute;
  margin              : 0;
  left                : 745px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a14settings .navigationmain .wallet1 .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 15px;
  width               : 13px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a14settings .navigationmain .wallet1 .shape1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3px;
  height              : 2px;
  width               : 2px;
  position            : absolute;
  margin              : 0;
  left                : 10px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a14settings .navigationmain .file1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 81px;
  height              : 15px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 610px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a14settings .navigationmain .file1 .path {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5px;
  height              : 1px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a14settings .navigationmain .file1 .path1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3px;
  height              : 1px;
  width               : 3px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a14settings .navigationmain .file1 .path2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7px;
  height              : 1px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a14settings .navigationmain .file1 .path3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 9px;
  height              : 1px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a14settings .navigationmain .file1 .path4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 11px;
  height              : 1px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a14settings .navigationmain .file1 .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 15px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a14settings .navigationmain .key1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 81px;
  height              : 15px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 494px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a14settings .navigationmain .key1 .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 15px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a14settings .navigationmain .key1 .shape1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 3px;
  width               : 3px;
  position            : absolute;
  margin              : 0;
  left                : 10px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a14settings .navigationmain .group7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 18px;
  height              : 22px;
  width               : 134px;
  position            : absolute;
  margin              : 0;
  left                : 163px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a14settings .navigationmain .group7 .group3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 22px;
  width               : 64px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a14settings .navigationmain .group7 .group3 .group31 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 22px;
  width               : 64px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a14settings .navigationmain .group7 .group6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 21px;
  width               : 69px;
  position            : absolute;
  margin              : 0;
  left                : 65px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a14settings .navigationmain .group7 .group6 .group61 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 21px;
  width               : 69px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a14settings .navigationmain .a4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 18px;
  height              : 8px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 1263px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a14settings .navigationmain .downarrow4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 26px;
  height              : 4px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 1405px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a14settings .navigationmain .downarrow4 .path {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 4px;
  width               : 8px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a14settings .navigationmain .downarrow41 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 87px;
  height              : 4px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 573px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a14settings .navigationmain .downarrow41 .path {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 4px;
  width               : 8px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a14settings .navigationmain .downarrow42 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 87px;
  height              : 4px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 947px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a14settings .navigationmain .downarrow42 .path {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 4px;
  width               : 8px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}