
@font-face {
                          font-family: "ProximaNova-Semibold";
                          src: url('../fonts/.173.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "ProximaNova-Regular";
                          src: url('../fonts/.175.otf') format("opentype");
                        }
                        
.a23bapplicationstep3 {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 1733px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.a23bapplicationstep3 .backgroundcolor {
  background-color    : rgba(255,255,255,0.0);
  top                 : -2px;
  height              : 1735px;
  width               : 1441px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23bapplicationstep3 .backgroundcolor .rectangle32 {
  background-color    : rgba(248, 248, 248, 1.0);
  top                 : 0px;
  height              : 1735px;
  width               : 1441px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23bapplicationstep3 .rectangle3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 176px;
  height              : 727px;
  width               : 762px;
  position            : absolute;
  margin              : 0;
  left                : 339px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23bapplicationstep3 .to {
  background-color    : rgba(255,255,255,0.0);
  top                 : 733px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 542px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a23bapplicationstep3 .currentemployer {
  background-color    : rgba(255,255,255,0.0);
  top                 : 222px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 382px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Semibold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.a23bapplicationstep3 .group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1642px;
  height              : 48px;
  width               : 204px;
  position            : absolute;
  margin              : 0;
  left                : 881px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23bapplicationstep3 .group2 .buttonoutline {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 48px;
  width               : 204px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23bapplicationstep3 .group2 .buttonoutline .bg {
  background-color    : rgba(111, 189, 111, 1.0);
  top                 : 0px;
  height              : 48px;
  width               : 204px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  border-radius       : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23bapplicationstep3 .group2 .a816816 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 15px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 18px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a23bapplicationstep3 .rectangle5 {
  background-color    : rgba(86, 102, 118, 1.0);
  top                 : -2px;
  height              : 70px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23bapplicationstep3 .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 337px;
  height              : 78px;
  width               : 670px;
  position            : absolute;
  margin              : 0;
  left                : 385px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23bapplicationstep3 .group .employeraddress {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.a23bapplicationstep3 .group .formcontrol2 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 30px;
  height              : 48px;
  box-sizing          : border-box;
  width               : 670px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 4px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(187, 187, 187, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23bapplicationstep3 .group1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 513px;
  height              : 78px;
  width               : 670px;
  position            : absolute;
  margin              : 0;
  left                : 385px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23bapplicationstep3 .group1 .occupation {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.a23bapplicationstep3 .group1 .formcontrol2 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 30px;
  height              : 48px;
  box-sizing          : border-box;
  width               : 670px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 4px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(187, 187, 187, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23bapplicationstep3 .group3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 249px;
  height              : 78px;
  width               : 670px;
  position            : absolute;
  margin              : 0;
  left                : 385px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23bapplicationstep3 .group3 .employername {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.a23bapplicationstep3 .group3 .formcontrol2 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 30px;
  height              : 48px;
  box-sizing          : border-box;
  width               : 670px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 4px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(187, 187, 187, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23bapplicationstep3 .group4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 425px;
  height              : 78px;
  width               : 330px;
  position            : absolute;
  margin              : 0;
  left                : 385px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23bapplicationstep3 .group4 .employerphonenumbe {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.a23bapplicationstep3 .group4 .formcontrol2 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 30px;
  height              : 48px;
  box-sizing          : border-box;
  width               : 330px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 4px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(187, 187, 187, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23bapplicationstep3 .group5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 601px;
  height              : 78px;
  width               : 330px;
  position            : absolute;
  margin              : 0;
  left                : 387px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23bapplicationstep3 .group5 .supervisorname {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.a23bapplicationstep3 .group5 .formcontrol2 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 30px;
  height              : 48px;
  box-sizing          : border-box;
  width               : 330px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 4px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(187, 187, 187, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23bapplicationstep3 .group6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 777px;
  height              : 78px;
  width               : 330px;
  position            : absolute;
  margin              : 0;
  left                : 387px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23bapplicationstep3 .group6 .monthlypay {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.a23bapplicationstep3 .group6 .formcontrol2 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 30px;
  height              : 48px;
  box-sizing          : border-box;
  width               : 330px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 4px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(187, 187, 187, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23bapplicationstep3 .rectangle6 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 179px;
  height              : 12px;
  width               : 730px;
  position            : absolute;
  margin              : 0;
  left                : 355px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23bapplicationstep3 .group41 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 179px;
  height              : 12px;
  width               : 212px;
  position            : absolute;
  margin              : 0;
  left                : 355px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23bapplicationstep3 .group41 .rectangle61 {
  background-color    : rgba(111, 189, 111, 1.0);
  top                 : 0px;
  height              : 12px;
  width               : 212px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23bapplicationstep3 .line4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 190px;
  height              : 3px;
  width               : 730px;
  position            : absolute;
  margin              : 0;
  left                : 355px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23bapplicationstep3 .path {
  background-color    : rgba(255,255,255,0.0);
  top                 : 190px;
  height              : 3px;
  width               : 633px;
  position            : absolute;
  margin              : 0;
  left                : 355px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23bapplicationstep3 .villasienaapartmen {
  background-color    : rgba(255,255,255,0.0);
  top                 : 98px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 355px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Semibold", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 29.0px;
}
.a23bapplicationstep3 .a100mainstreetirv {
  background-color    : rgba(255,255,255,0.0);
  top                 : 136px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 355px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 13.0px;
}
.a23bapplicationstep3 .group7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 689px;
  height              : 78px;
  width               : 329px;
  position            : absolute;
  margin              : 0;
  left                : 387px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23bapplicationstep3 .group7 .dateofemployment {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.a23bapplicationstep3 .group7 .formcontrol2 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 30px;
  height              : 48px;
  box-sizing          : border-box;
  width               : 141px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 4px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(187, 187, 187, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23bapplicationstep3 .group7 .formcontrol11 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 30px;
  height              : 48px;
  box-sizing          : border-box;
  width               : 147px;
  position            : absolute;
  margin              : 0;
  left                : 182px;
  border-radius       : 4px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(187, 187, 187, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23bapplicationstep3 .group71 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 24px;
  height              : 22px;
  width               : 134px;
  position            : absolute;
  margin              : 0;
  left                : 30px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23bapplicationstep3 .group71 .group31 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 22px;
  width               : 64px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23bapplicationstep3 .group71 .group31 .group32 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 22px;
  width               : 64px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23bapplicationstep3 .group71 .group61 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 21px;
  width               : 69px;
  position            : absolute;
  margin              : 0;
  left                : 65px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23bapplicationstep3 .group71 .group61 .group62 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 21px;
  width               : 69px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23bapplicationstep3 .thisismycurrente {
  background-color    : rgba(255,255,255,0.0);
  top                 : 732px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 751px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 14.0px;
}
.a23bapplicationstep3 .formcontrol {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 734px;
  height              : 15px;
  box-sizing          : border-box;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 726px;
  border-radius       : 2px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(187, 187, 187, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23bapplicationstep3 .group21 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1642px;
  height              : 48px;
  width               : 92px;
  position            : absolute;
  margin              : 0;
  left                : 355px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23bapplicationstep3 .group21 .buttonoutline {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 48px;
  width               : 92px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23bapplicationstep3 .group21 .buttonoutline .bg {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 48px;
  box-sizing          : border-box;
  width               : 92px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  border-radius       : 3px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(187, 187, 187, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23bapplicationstep3 .group21 .a816816 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 14px;
  height              : auto;
  width               : 35px;
  position            : absolute;
  margin              : 0;
  left                : 29px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 14.0px;
}
.a23bapplicationstep3 .rectangle31 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 901px;
  height              : 727px;
  width               : 762px;
  position            : absolute;
  margin              : 0;
  left                : 339px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23bapplicationstep3 .to1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1458px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 542px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a23bapplicationstep3 .previousemployer {
  background-color    : rgba(255,255,255,0.0);
  top                 : 947px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 382px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Semibold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.a23bapplicationstep3 .group8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1062px;
  height              : 78px;
  width               : 670px;
  position            : absolute;
  margin              : 0;
  left                : 385px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23bapplicationstep3 .group8 .employeraddress {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.a23bapplicationstep3 .group8 .formcontrol2 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 30px;
  height              : 48px;
  box-sizing          : border-box;
  width               : 670px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 4px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(187, 187, 187, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23bapplicationstep3 .group9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1238px;
  height              : 78px;
  width               : 670px;
  position            : absolute;
  margin              : 0;
  left                : 385px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23bapplicationstep3 .group9 .occupation {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.a23bapplicationstep3 .group9 .formcontrol2 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 30px;
  height              : 48px;
  box-sizing          : border-box;
  width               : 670px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 4px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(187, 187, 187, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23bapplicationstep3 .group10 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 974px;
  height              : 78px;
  width               : 670px;
  position            : absolute;
  margin              : 0;
  left                : 385px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23bapplicationstep3 .group10 .employername {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.a23bapplicationstep3 .group10 .formcontrol2 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 30px;
  height              : 48px;
  box-sizing          : border-box;
  width               : 670px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 4px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(187, 187, 187, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23bapplicationstep3 .group11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1150px;
  height              : 78px;
  width               : 330px;
  position            : absolute;
  margin              : 0;
  left                : 385px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23bapplicationstep3 .group11 .employerphonenumbe {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.a23bapplicationstep3 .group11 .formcontrol2 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 30px;
  height              : 48px;
  box-sizing          : border-box;
  width               : 330px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 4px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(187, 187, 187, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23bapplicationstep3 .group12 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1326px;
  height              : 78px;
  width               : 330px;
  position            : absolute;
  margin              : 0;
  left                : 387px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23bapplicationstep3 .group12 .supervisorname {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.a23bapplicationstep3 .group12 .formcontrol2 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 30px;
  height              : 48px;
  box-sizing          : border-box;
  width               : 330px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 4px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(187, 187, 187, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23bapplicationstep3 .group13 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1502px;
  height              : 78px;
  width               : 330px;
  position            : absolute;
  margin              : 0;
  left                : 387px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23bapplicationstep3 .group13 .monthlypay {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.a23bapplicationstep3 .group13 .formcontrol2 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 30px;
  height              : 48px;
  box-sizing          : border-box;
  width               : 330px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 4px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(187, 187, 187, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23bapplicationstep3 .group14 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1414px;
  height              : 78px;
  width               : 329px;
  position            : absolute;
  margin              : 0;
  left                : 387px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23bapplicationstep3 .group14 .dateofemployment {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.a23bapplicationstep3 .group14 .formcontrol2 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 30px;
  height              : 48px;
  box-sizing          : border-box;
  width               : 141px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 4px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(187, 187, 187, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23bapplicationstep3 .group14 .formcontrol11 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 30px;
  height              : 48px;
  box-sizing          : border-box;
  width               : 147px;
  position            : absolute;
  margin              : 0;
  left                : 182px;
  border-radius       : 4px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(187, 187, 187, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23bapplicationstep3 .thisismycurrente1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1457px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 751px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 14.0px;
}
.a23bapplicationstep3 .formcontrol1 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 1459px;
  height              : 15px;
  box-sizing          : border-box;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 726px;
  border-radius       : 2px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(187, 187, 187, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}