
@font-face {
                          font-family: "ProximaNova-Semibold";
                          src: url('../fonts/.173.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "ProximaNova-Regular";
                          src: url('../fonts/.175.otf') format("opentype");
                        }
                        
.a23dapplicationstep5 {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 1295px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.a23dapplicationstep5 .backgroundcolor {
  background-color    : rgba(255,255,255,0.0);
  top                 : -2px;
  height              : 1735px;
  width               : 1441px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23dapplicationstep5 .backgroundcolor .rectangle32 {
  background-color    : rgba(248, 248, 248, 1.0);
  top                 : 0px;
  height              : 1735px;
  width               : 1441px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23dapplicationstep5 .rectangle3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 176px;
  height              : 593px;
  width               : 762px;
  position            : absolute;
  margin              : 0;
  left                : 339px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23dapplicationstep5 .rectangle31 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 767px;
  height              : 168px;
  width               : 762px;
  position            : absolute;
  margin              : 0;
  left                : 339px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23dapplicationstep5 .additionalquestions {
  background-color    : rgba(255,255,255,0.0);
  top                 : 221px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 385px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Semibold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.a23dapplicationstep5 .creditandbackgroun {
  background-color    : rgba(255,255,255,0.0);
  top                 : 813px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 385px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Semibold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.a23dapplicationstep5 .rectangle5 {
  background-color    : rgba(86, 102, 118, 1.0);
  top                 : -2px;
  height              : 70px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23dapplicationstep5 .rectangle6 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 179px;
  height              : 12px;
  width               : 730px;
  position            : absolute;
  margin              : 0;
  left                : 355px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23dapplicationstep5 .group4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 179px;
  height              : 12px;
  width               : 386px;
  position            : absolute;
  margin              : 0;
  left                : 355px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23dapplicationstep5 .group4 .rectangle61 {
  background-color    : rgba(111, 189, 111, 1.0);
  top                 : 0px;
  height              : 12px;
  width               : 386px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23dapplicationstep5 .line4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 190px;
  height              : 3px;
  width               : 729px;
  position            : absolute;
  margin              : 0;
  left                : 355px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23dapplicationstep5 .yes {
  background-color    : rgba(255,255,255,0.0);
  top                 : 300px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 415px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.a23dapplicationstep5 .oval {
  background-color    : rgba(255,255,255,0.0);
  top                 : 297px;
  height              : 18px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 392px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23dapplicationstep5 .no {
  background-color    : rgba(255,255,255,0.0);
  top                 : 323px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 415px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.a23dapplicationstep5 .oval1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 320px;
  height              : 18px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 392px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23dapplicationstep5 .haveyoueverbeenl {
  background-color    : rgba(255,255,255,0.0);
  top                 : 274px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 390px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.a23dapplicationstep5 .yes1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 375px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 415px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.a23dapplicationstep5 .oval2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 372px;
  height              : 18px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 392px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23dapplicationstep5 .no1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 398px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 415px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.a23dapplicationstep5 .oval3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 395px;
  height              : 18px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 392px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23dapplicationstep5 .haveyoueverbeenp {
  background-color    : rgba(255,255,255,0.0);
  top                 : 349px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 390px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.a23dapplicationstep5 .yes2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 451px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 415px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.a23dapplicationstep5 .oval4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 448px;
  height              : 18px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 392px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23dapplicationstep5 .no2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 474px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 415px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.a23dapplicationstep5 .oval5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 471px;
  height              : 18px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 392px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23dapplicationstep5 .doyousmoke {
  background-color    : rgba(255,255,255,0.0);
  top                 : 425px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 390px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.a23dapplicationstep5 .yes3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 525px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 415px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.a23dapplicationstep5 .oval6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 526px;
  height              : 18px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 392px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23dapplicationstep5 .no3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 548px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 415px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.a23dapplicationstep5 .oval7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 549px;
  height              : 18px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 392px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23dapplicationstep5 .doyouhaveanypets {
  background-color    : rgba(255,255,255,0.0);
  top                 : 503px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 390px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.a23dapplicationstep5 .group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 576px;
  height              : 154px;
  width               : 670px;
  position            : absolute;
  margin              : 0;
  left                : 386px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23dapplicationstep5 .group2 .formcontrol2 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 29px;
  height              : 125px;
  box-sizing          : border-box;
  width               : 670px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 4px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(187, 187, 187, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23dapplicationstep5 .group2 .isthereanythingne {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.a23dapplicationstep5 .additionalquestions1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 252px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 385px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Semibold", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a23dapplicationstep5 .iauthorizetheland {
  background-color    : rgba(255,255,255,0.0);
  top                 : 847px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 411px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 14.0px;
}
.a23dapplicationstep5 .formcontrol {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 849px;
  height              : 15px;
  box-sizing          : border-box;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 386px;
  border-radius       : 2px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(187, 187, 187, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23dapplicationstep5 .iauthorizetheland1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 872px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 411px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 14.0px;
}
.a23dapplicationstep5 .formcontrol1 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 874px;
  height              : 15px;
  box-sizing          : border-box;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 386px;
  border-radius       : 2px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(187, 187, 187, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23dapplicationstep5 .group21 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 948px;
  height              : 48px;
  width               : 272px;
  position            : absolute;
  margin              : 0;
  left                : 813px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23dapplicationstep5 .group21 .buttonoutline {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 48px;
  width               : 272px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23dapplicationstep5 .group21 .buttonoutline .bg {
  background-color    : rgba(111, 189, 111, 1.0);
  top                 : 0px;
  height              : 48px;
  width               : 272px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  border-radius       : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23dapplicationstep5 .group21 .a816816 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : auto;
  width               : 220px;
  position            : absolute;
  margin              : 0;
  left                : 29px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.a23dapplicationstep5 .villasienaapartmen {
  background-color    : rgba(255,255,255,0.0);
  top                 : 98px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 355px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Semibold", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 29.0px;
}
.a23dapplicationstep5 .a100mainstreetirv {
  background-color    : rgba(255,255,255,0.0);
  top                 : 136px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 355px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 13.0px;
}
.a23dapplicationstep5 .group7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 24px;
  height              : 22px;
  width               : 134px;
  position            : absolute;
  margin              : 0;
  left                : 30px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23dapplicationstep5 .group7 .group3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 22px;
  width               : 64px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23dapplicationstep5 .group7 .group3 .group31 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 22px;
  width               : 64px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23dapplicationstep5 .group7 .group6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 21px;
  width               : 69px;
  position            : absolute;
  margin              : 0;
  left                : 65px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23dapplicationstep5 .group7 .group6 .group61 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 21px;
  width               : 69px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23dapplicationstep5 .group22 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 948px;
  height              : 48px;
  width               : 92px;
  position            : absolute;
  margin              : 0;
  left                : 355px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23dapplicationstep5 .group22 .buttonoutline {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 48px;
  width               : 92px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23dapplicationstep5 .group22 .buttonoutline .bg {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 48px;
  box-sizing          : border-box;
  width               : 92px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  border-radius       : 3px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(187, 187, 187, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a23dapplicationstep5 .group22 .a816816 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 14px;
  height              : auto;
  width               : 35px;
  position            : absolute;
  margin              : 0;
  left                : 29px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 14.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}