
@font-face {
                          font-family: "ProximaNova-Semibold";
                          src: url('../fonts/.173.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "ProximaNova-Regular";
                          src: url('../fonts/.175.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "ProximaNova-Medium";
                          src: url('../fonts/.25136.otf') format("opentype");
                        }
                        
.a5propertiesstartingpage {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 798px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.a5propertiesstartingpage .backgroundcolor {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 1733px;
  width               : 1441px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a5propertiesstartingpage .backgroundcolor .rectangle31 {
  background-color    : rgba(248, 248, 248, 1.0);
  top                 : 0px;
  height              : 1733px;
  width               : 1441px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a5propertiesstartingpage .rectangle3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 191px;
  height              : 183px;
  width               : 572px;
  position            : absolute;
  margin              : 0;
  left                : 149px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a5propertiesstartingpage .properties {
  background-color    : rgba(255,255,255,0.0);
  top                 : 152px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 167px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Semibold", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 29.0px;
}
.a5propertiesstartingpage .addaproperty {
  background-color    : rgba(255,255,255,0.0);
  top                 : 222px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 198px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Semibold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.a5propertiesstartingpage .startmanagingyour {
  background-color    : rgba(255,255,255,0.0);
  top                 : 256px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 201px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.a5propertiesstartingpage .house {
  background-color    : rgba(255,255,255,0.0);
  top                 : 209px;
  height              : 478px;
  width               : 540px;
  position            : absolute;
  margin              : 0;
  left                : 735px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a5propertiesstartingpage .house .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 337px;
  height              : 113px;
  width               : 47px;
  position            : absolute;
  margin              : 0;
  left                : 91px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a5propertiesstartingpage .house .shape1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 337px;
  height              : 113px;
  width               : 21px;
  position            : absolute;
  margin              : 0;
  left                : 91px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a5propertiesstartingpage .house .oval {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 362px;
  width               : 230px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a5propertiesstartingpage .house .shape2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 362px;
  width               : 115px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a5propertiesstartingpage .house .shape3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 100px;
  height              : 378px;
  width               : 301px;
  position            : absolute;
  margin              : 0;
  left                : 193px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a5propertiesstartingpage .house .shape4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 124px;
  height              : 114px;
  width               : 75px;
  position            : absolute;
  margin              : 0;
  left                : 420px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a5propertiesstartingpage .house .shape5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 124px;
  height              : 114px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 420px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a5propertiesstartingpage .house .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 429px;
  height              : 49px;
  width               : 540px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a5propertiesstartingpage .house .group .shape10 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 49px;
  width               : 182px;
  position            : absolute;
  margin              : 0;
  left                : 358px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a5propertiesstartingpage .house .group .shape11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 49px;
  width               : 206px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a5propertiesstartingpage .house .shape6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 113px;
  height              : 187px;
  width               : 301px;
  position            : absolute;
  margin              : 0;
  left                : 193px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a5propertiesstartingpage .house .shape7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 89px;
  height              : 207px;
  width               : 391px;
  position            : absolute;
  margin              : 0;
  left                : 148px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a5propertiesstartingpage .house .rectanglepath {
  background-color    : rgba(201, 117, 35, 1.0);
  top                 : 305px;
  height              : 173px;
  width               : 100px;
  position            : absolute;
  margin              : 0;
  left                : 230px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a5propertiesstartingpage .house .shape8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 298px;
  height              : 180px;
  width               : 114px;
  position            : absolute;
  margin              : 0;
  left                : 223px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a5propertiesstartingpage .house .rectanglepath1 {
  background-color    : rgba(160, 217, 242, 1.0);
  top                 : 305px;
  height              : 100px;
  width               : 113px;
  position            : absolute;
  margin              : 0;
  left                : 358px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a5propertiesstartingpage .house .rectanglepath2 {
  background-color    : rgba(201, 117, 35, 1.0);
  top                 : 305px;
  height              : 30px;
  width               : 113px;
  position            : absolute;
  margin              : 0;
  left                : 358px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a5propertiesstartingpage .house .group1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 297px;
  height              : 115px;
  width               : 194px;
  position            : absolute;
  margin              : 0;
  left                : 284px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a5propertiesstartingpage .house .group1 .shape10 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 114px;
  width               : 127px;
  position            : absolute;
  margin              : 0;
  left                : 67px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a5propertiesstartingpage .house .group1 .shape11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 86px;
  height              : 14px;
  width               : 29px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a5propertiesstartingpage .house .oval1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 200px;
  height              : 55px;
  width               : 55px;
  position            : absolute;
  margin              : 0;
  left                : 316px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a5propertiesstartingpage .house .rectanglepath3 {
  background-color    : rgba(142, 72, 14, 1.0);
  top                 : 328px;
  height              : 14px;
  width               : 113px;
  position            : absolute;
  margin              : 0;
  left                : 358px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a5propertiesstartingpage .house .shape9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 193px;
  height              : 70px;
  width               : 70px;
  position            : absolute;
  margin              : 0;
  left                : 308px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a5propertiesstartingpage .house .group21 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 405px;
  height              : 38px;
  width               : 160px;
  position            : absolute;
  margin              : 0;
  left                : 15px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a5propertiesstartingpage .house .group21 .shape10 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 37px;
  width               : 17px;
  position            : absolute;
  margin              : 0;
  left                : 27px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a5propertiesstartingpage .house .group21 .shape11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 37px;
  width               : 17px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a5propertiesstartingpage .house .group21 .shape21 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 37px;
  width               : 17px;
  position            : absolute;
  margin              : 0;
  left                : 143px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a5propertiesstartingpage .group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 288px;
  height              : 48px;
  width               : 157px;
  position            : absolute;
  margin              : 0;
  left                : 198px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a5propertiesstartingpage .group2 .buttonoutline {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 48px;
  width               : 157px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a5propertiesstartingpage .group2 .buttonoutline .bg {
  background-color    : rgba(111, 189, 111, 1.0);
  top                 : 0px;
  height              : 48px;
  width               : 157px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  border-radius       : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a5propertiesstartingpage .group2 .a816816 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 14px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 32px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 14.0px;
}
.a5propertiesstartingpage .navigationmain {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 120px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a5propertiesstartingpage .navigationmain .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 120px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a5propertiesstartingpage .navigationmain .rectangle {
  background-color    : rgba(86, 102, 118, 1.0);
  top                 : 60px;
  height              : 60px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a5propertiesstartingpage .navigationmain .rectangle1 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 60px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a5propertiesstartingpage .navigationmain .home {
  background-color    : rgba(255,255,255,0.0);
  top                 : 79px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 187px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Medium", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.a5propertiesstartingpage .navigationmain .properties1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 79px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 286px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Medium", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.a5propertiesstartingpage .navigationmain .tenants {
  background-color    : rgba(255,255,255,0.0);
  top                 : 79px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 407px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Medium", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.a5propertiesstartingpage .navigationmain .leasing {
  background-color    : rgba(255,255,255,0.0);
  top                 : 79px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 514px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Medium", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.a5propertiesstartingpage .navigationmain .applications {
  background-color    : rgba(255,255,255,0.0);
  top                 : 79px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 627px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Medium", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.a5propertiesstartingpage .navigationmain .payments {
  background-color    : rgba(255,255,255,0.0);
  top                 : 79px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 764px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Medium", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.a5propertiesstartingpage .navigationmain .reports {
  background-color    : rgba(255,255,255,0.0);
  top                 : 79px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 884px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Medium", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.a5propertiesstartingpage .navigationmain .profilesettings {
  background-color    : rgba(255,255,255,0.0);
  top                 : 19px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1279px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ProximaNova-Medium", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.a5propertiesstartingpage .navigationmain .notification1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 18px;
  height              : 25px;
  width               : 21px;
  position            : absolute;
  margin              : 0;
  left                : 1248px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a5propertiesstartingpage .navigationmain .notification1 .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 18px;
  width               : 21px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a5propertiesstartingpage .navigationmain .notification1 .path {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 5px;
  width               : 4px;
  position            : absolute;
  margin              : 0;
  left                : 9px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a5propertiesstartingpage .navigationmain .notification1 .path1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 21px;
  height              : 4px;
  width               : 5px;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a5propertiesstartingpage .navigationmain .oval {
  background-color    : rgba(255,255,255,0.0);
  top                 : 13px;
  height              : 18px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 1257px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a5propertiesstartingpage .navigationmain .home1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 81px;
  height              : 15px;
  width               : 17px;
  position            : absolute;
  margin              : 0;
  left                : 165px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a5propertiesstartingpage .navigationmain .home1 .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 7px;
  width               : 17px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a5propertiesstartingpage .navigationmain .home1 .shape1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7px;
  height              : 8px;
  width               : 13px;
  position            : absolute;
  margin              : 0;
  left                : 2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a5propertiesstartingpage .navigationmain .houses {
  background-color    : rgba(255,255,255,0.0);
  top                 : 81px;
  height              : 15px;
  width               : 21px;
  position            : absolute;
  margin              : 0;
  left                : 260px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a5propertiesstartingpage .navigationmain .houses .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 15px;
  width               : 21px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a5propertiesstartingpage .navigationmain .avatar {
  background-color    : rgba(255,255,255,0.0);
  top                 : 81px;
  height              : 15px;
  width               : 13px;
  position            : absolute;
  margin              : 0;
  left                : 389px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a5propertiesstartingpage .navigationmain .avatar .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 8px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a5propertiesstartingpage .navigationmain .avatar .shape1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 8px;
  height              : 7px;
  width               : 13px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a5propertiesstartingpage .navigationmain .piechart1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 81px;
  height              : 15px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 864px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a5propertiesstartingpage .navigationmain .piechart1 .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 13px;
  width               : 13px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a5propertiesstartingpage .navigationmain .piechart1 .shape1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 7px;
  width               : 7px;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a5propertiesstartingpage .navigationmain .wallet1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 81px;
  height              : 15px;
  width               : 13px;
  position            : absolute;
  margin              : 0;
  left                : 745px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a5propertiesstartingpage .navigationmain .wallet1 .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 15px;
  width               : 13px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a5propertiesstartingpage .navigationmain .wallet1 .shape1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3px;
  height              : 2px;
  width               : 2px;
  position            : absolute;
  margin              : 0;
  left                : 10px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a5propertiesstartingpage .navigationmain .file1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 81px;
  height              : 15px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 610px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a5propertiesstartingpage .navigationmain .file1 .path {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5px;
  height              : 1px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a5propertiesstartingpage .navigationmain .file1 .path1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3px;
  height              : 1px;
  width               : 3px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a5propertiesstartingpage .navigationmain .file1 .path2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7px;
  height              : 1px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a5propertiesstartingpage .navigationmain .file1 .path3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 9px;
  height              : 1px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a5propertiesstartingpage .navigationmain .file1 .path4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 11px;
  height              : 1px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a5propertiesstartingpage .navigationmain .file1 .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 15px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a5propertiesstartingpage .navigationmain .key1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 81px;
  height              : 15px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 494px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a5propertiesstartingpage .navigationmain .key1 .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 15px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a5propertiesstartingpage .navigationmain .key1 .shape1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 3px;
  width               : 3px;
  position            : absolute;
  margin              : 0;
  left                : 10px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a5propertiesstartingpage .navigationmain .group7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 18px;
  height              : 22px;
  width               : 134px;
  position            : absolute;
  margin              : 0;
  left                : 163px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a5propertiesstartingpage .navigationmain .group7 .group3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 22px;
  width               : 64px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a5propertiesstartingpage .navigationmain .group7 .group3 .group31 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 22px;
  width               : 64px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a5propertiesstartingpage .navigationmain .group7 .group6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 21px;
  width               : 69px;
  position            : absolute;
  margin              : 0;
  left                : 65px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a5propertiesstartingpage .navigationmain .group7 .group6 .group61 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 21px;
  width               : 69px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a5propertiesstartingpage .navigationmain .a4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 18px;
  height              : 8px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 1263px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a5propertiesstartingpage .navigationmain .downarrow4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 26px;
  height              : 4px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 1405px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a5propertiesstartingpage .navigationmain .downarrow4 .path {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 4px;
  width               : 8px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a5propertiesstartingpage .navigationmain .downarrow41 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 87px;
  height              : 4px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 573px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a5propertiesstartingpage .navigationmain .downarrow41 .path {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 4px;
  width               : 8px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a5propertiesstartingpage .navigationmain .downarrow42 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 87px;
  height              : 4px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 947px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a5propertiesstartingpage .navigationmain .downarrow42 .path {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 4px;
  width               : 8px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}